body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
  }
 
  img.align-center {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav a{ 
  padding: 0px 10px 0px 10px;
  background-color: gray;
  
}


figcaption { 
  text-align: center;
  font-size: small;
  }

#featured-property {
  display: block;
  margin: auto;
  width: 800px;
  text-align: center;
  
   
   
}
#details {
  display: block;
}

#details div {
  text-align: center;
  background-color: red;
  float:left;
  width: 25%;
  
}
